@import 'src/styles/colors.scss';
@import 'src/styles/dimensions.scss';

.TableScreen {
  background-color: $DARK_GREEN_COLOR;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .HandWrapper {
    grid-column: 1 / 4;
    padding: 10px 50px;
    position: relative;
    overflow: hidden;

    .Hand {
      display: flex;
      align-items: center;
      overflow-x: scroll;
      padding: 10px;
    }

    .SkipSign {
      position: absolute;
      z-index: 1;
      background-color: $LIGHT_GREEN_COLOR;
      padding: 10px 20px;
      border-radius: $BORDER_RADIUS;
      box-shadow: $SHADOW;
    }
  }

  .MiddleElement {
    grid-column-start: 2;
  }

  .PassButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
  }

  .Score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $LIGHT_GREEN_COLOR;
    padding: 10px;
    border-radius: $BORDER_RADIUS;
  }
}
