@import '../../colors.scss';

.Modal {
  position: absolute;
  height: 60vh;
  width: 60vh;
  top: calc(50% - 30vh);
  left: calc(50% - 30vh);
  z-index: 100;
  background-color: $LIGHT_GREEN_COLOR;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
